body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-size: 12px;
 
}

code {
  font-family: "Lato", sans-serif;
}

a{
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-success {
  background-color: #26ad90 !important;
  border-color: #26ad90 !important;
}

.add-user{
  text-align: center;
}
.add-user>span{
  margin-left: 5px;
}

.page-container{
  margin-left: 7% ;
  margin-right: 4px;

}

@media (max-width: 600px) {
  .page-container {
    margin-left: 2px ;
    margin-right: 2px;
  }
}
