.mission-page{
    width: 100%;


    .info-debut, .info-fin, .info-mission{
        max-width: 400px;
        min-width: 300px;
        background-color: #ffffff;
        border-radius: 4px;
        -webkit-box-shadow: -1px 4px 15px 1px rgb(0 0 0 / 20%);
        box-shadow: -1px 4px 15px 1px rgb(0 0 0 / 20%);
        padding: 20px;
    }

    .missions{
        padding-bottom: 3rem;
    }


    .mission-card-2{
        display: flex;
        justify-content: start;
        flex-flow: row wrap;
        padding-bottom: 10rem;
    }
}