.mission-page{
    width: 100%;

    .mission-cards{
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        gap: 10px;
    }

    .mission-info-btn{
        flex:1;
    }


   .info-mission{
        max-width: 400px;
        min-width: 300px;
        background-color: #ffffff;
        border-radius: 4px;
        -webkit-box-shadow: -1px 4px 15px 1px rgb(0 0 0 / 20%);
        box-shadow: -1px 4px 15px 1px rgb(0 0 0 / 20%);
        padding: 20px;
    }

    .missions{
        padding-bottom: 3rem;
    }

    .commentDiv{
        background-color: #ffffff;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        max-width: 600px;
    }

    .responsDiv{
        background-color: #ffffff;
        margin-top: 0.5rem;
        margin-left: 5%;
        padding: 1rem;
        border-radius: 0.5rem;
        max-width: 500px;
    }

    .commented-by{
        font-weight: bold;
    }
    .respond{
        padding-left: 1.1rem;
        font-size: 0.7rem;
    }
    .respond:hover{
        cursor: pointer;
    }
}